{
  "extends": ["eslint-config-asjas/node-typescript"],
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": "tsconfig.json"
  },
  "rules": {
    "no-undefined": 0,
    "node/no-unpublished-import": [
      "error",
      {
        "allowModules": ["fastify", "tap"]
      }
    ]
  }
}
